pipeline/AuditPipeline_copy1.json
{
	"name": "AuditPipeline_copy1",
	"properties": {
		"activities": [
			{
				"name": "NBName",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "practice",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool1",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "Script1_error",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "NBName",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "ids",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.result.runId",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "startdatetimes",
									"type": "String",
									"value": {
										"value": "@replace(substring(activity('NBName').output.Status.Output.status.schedulerInfo.submittedAt,0,19),'T',' ')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Pipelinenames",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.status.name",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "enddatetimes",
									"type": "String",
									"value": {
										"value": "@replace(substring(activity('NBName').output.Status.Output.status.schedulerInfo.endedAt,0,19),'T',' ')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "error",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.result.error.evalue",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "status",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.result.runStatus",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "insert into audit_test values(@ids,@startdatetimes,@enddatetimes,@Pipelinenames,@error,@status)\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script_sucess",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "NBName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "ids",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.result.runId",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "startdatetimes",
									"type": "String",
									"value": {
										"value": "@replace(substring(activity('NBName').output.Status.Output.status.schedulerInfo.submittedAt,0,19),'T',' ')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Pipelinenames",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.status.name",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "enddatetimes",
									"type": "String",
									"value": {
										"value": "@replace(substring(activity('NBName').output.Status.Output.status.schedulerInfo.endedAt,0,19),'T',' ')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "status",
									"type": "String",
									"value": {
										"value": "@activity('NBName').output.Status.Output.result.runStatus",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "DECLARE @inputString VARCHAR(100) = 'practice_nb_sparkpool1_1688980434';\nDECLARE @startIndex INT = CHARINDEX('_', @inputString) + 1; -- Find the index of the first underscore and add 1 to start from the next character\nDECLARE @endIndex INT = CHARINDEX('_', @inputString, @startIndex) - @startIndex; -- Find the index of the second underscore and subtract the start index to get the length\n\nSELECT SUBSTRING(@inputString, @startIndex, @endIndex) AS practice_nb;\n\ninsert into audit_test values(@ids,@startdatetimes,@enddatetimes,practice_nb,'noerror',@status)\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-10T12:54:23Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}