pipeline/counter add pipeline throw error.json
{
	"name": "counter add pipeline throw error",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arr')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "x",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "x",
								"value": {
									"value": "@add(variables('y'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "y",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "x",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "y",
								"value": {
									"value": "@variables('x')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "y",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(greater(variables('x'),3))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "ManualError",
											"value": "sDrgwag"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "WaitprintFFFFinal",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "Integer",
				"defaultValue": 0
			},
			"y": {
				"type": "Integer",
				"defaultValue": 0
			},
			"arr": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			},
			"ManualError": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-22T20:29:20Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}