pipeline/Pipeline 1_copy1.json
{
	"name": "Pipeline 1_copy1",
	"properties": {
		"activities": [
			{
				"name": "test",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "print_Hi",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Script_success",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "test",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "ids",
									"type": "String",
									"value": {
										"value": "@activity('test').output.Status.Output.result.runId",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "startdatetimes",
									"type": "String",
									"value": {
										"value": "@replace(substring(activity('test').output.Status.Output.status.schedulerInfo.submittedAt,0,19),'T',' ')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "Pipelinenames",
									"type": "String",
									"value": {
										"value": "@substring(string(activity('test').output.Status.Output.status.name),0,int(string(sub(int(string(indexOf(activity('test').output.Status.Output.status.name\n, activity('test').output.Status.Output.status.sparkPoolName))),1))))",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "enddatetimes",
									"type": "String",
									"value": {
										"value": "@replace(substring(activity('test').output.Status.Output.result.lastCheckedOn,0,19),'T',' ')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "status",
									"type": "String",
									"value": {
										"value": "@if(equals(activity('test').output.Status.Output.result.exitValue,null),'succeded','failed')",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "error",
									"type": "String",
									"value": {
										"value": "@if(equals(activity('test').output.Status.Output.result.exitValue,null),null,activity('test').output.Status.Output.result.exitValue)",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "insert into audit_test values(@ids,@startdatetimes,@enddatetimes,@Pipelinenames,@error,@status)\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-08-03T10:31:22Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}